body {margin: 0; padding: 0;}
ul {list-style: none; margin: 0; padding: 0;}
a {text-decoration: none; font-size: 16px; color: #000; transition: all 0.5;}
a:hover {color: orangered;}
em {font-style: normal; font-size: 16px; color: #000; transition: all 0.5;}
em:hover {color: orangered;}

html{
	scroll-behavior: smooth;
}

body{
	background-color:white;
}

.fixed {position: fixed; z-index: 100; right: 40px; bottom: 40px;}
header {background-color:rgba(0,0,0,0.5); ; top:0; left:0; right:0; width:2048px; height:80px; position: fixed;  z-index:99; }
header>div { top:0;z-index:99;}
header > div .header {height: 71px; display: flex; justify-content: space-between; align-items: center; position: relative; top: 3px;}
header > div  .right ul {display: flex;}
header > div  .right li {position: relative; margin-left: 53px;}
header > div  .right li:first-child {margin-left: 110px;}
header > div  .right li a {font-size: 18px; color: #fff; transition: all 0.5s;}
header > div  .right li a:hover {color: orange; font-size: 20px}
header > div  .right li a::before {opacity: 0; content: '';  left: 0; bottom: 2px; width: 100%; height: 0.5px; background: rgba(255,255,255,0.5); transition: all 0.5s;}
/*header > div  .right li a:hover::before {opacity: 1; }*/
/*header > div  .right li:last-child a::before {display: none;}*/
header > div  .right li i {font-size: 30px; vertical-align: middle;}


body {background-color: #000000;}
header .left {float: left; padding: 43px 0 0 78px;}
header h1 {float: left; padding: 0 108px 0 0;}
header h1 a {display: block; width: 132px; height: 50px; background: url(#) -170px -70px no-repeat; color: transparent;}
header .all, header h2, header .close {display: none;}
header .left > div div {display: none;}
header nav a {position: relative; display: block; height: 50px; line-height: 50px; font-size: 17px; font-weight: bold;}
header nav a::before {content: ''; position: absolute; left: 0; bottom: 13px; width: 0; height: 1px; background: #fff; transition: all 0.5s;}
header nav a:hover::before {width: 100%;}
header a {color: #fff;}
header .left > div {float: left;}
header .left > div nav li {float: left; padding: 0 30px 0 0;}
header .left > div nav li:last-child {padding-right: 0;}
header > ul {float: right; padding: 51px 40px 0 0;}
header > ul li {float: left; margin-left: -1px;}
header > ul li a {display: block; width: 60px; height: 38px; line-height: 38px; text-align: center; font-size: 13px; border: 1px solid rgba(255,255,255,0.5);}
header > ul li:first-child a {border-radius: 3px 0 0 3px;}
header > ul li:nth-last-of-type(2) a {border-radius: 0 3px 3px 0;}
header > ul li.join {padding: 0 0 0 10px;}
header > ul li.join a {background: rgba(255,255,255,0.2);}

@media (max-width:1100px){
     header h1 {float: none; position: absolute; left: 50%; top: 35px; transform: translateX(-50%); padding: 0;}
     header .left {float: left; padding: 49px 0 0 38px;}
     header .all {position: relative; display: block; width: 32px; height: 14px; border-top: 2px solid #fff; border-bottom: 2px solid #fff; color: transparent;}
     header .all::before {content: ''; position: absolute; left: 0; top: 50%; width: 100%; height: 2px; background: #fff; margin-top: -1px;}
     header .left > div {float: none;}
     header > ul {padding: 40px 40px 0 0;}
     header > ul li.join {display: block;}
     header > ul li a {width: 70px; font-size: 10px;}
     header .close, header .all, header .left > div > div, header h2 {display: block;}
     header .nav {position: absolute; left: -120%; top: 0; transition: all 0.5s; width: calc(100% - 32px); height: 100%; background: #fff; padding: 15px 24px 15px 22px; box-sizing: border-box; z-index: 101;}
     header .nav.on {left: 0;} 
     header .nav.on nav {padding: 0 0 24px; border-top: 1px solid #0091d0;}
     header .nav.on nav a {height: 40px; line-height: 40px; color: #111;}
     header .nav.on nav a::before {display: none;}
     header .nav.on nav li {float: none; border-bottom: 1px solid #eee;} 
     header .nav.on div {display: flex; border: 1px solid #eee;}
     header .nav.on div a {flex:1; text-align: center; height: 38px; line-height: 38px; font-size: 13px; color: #666; font-weight: bold; border-left: 1px solid #eee;}
     header .nav.on div a:first-child {border: none;} 
     header .nav.on .close {position: absolute; right: 24px; top: 24px; width: 12px; height: 12px; color: transparent;}
     header .nav.on .close::before {content: ''; position: absolute; left: 46%; top: 0; width: 1px; height: 100%; background: #5a5a5a; transform: rotate(45deg);}
     header .nav.on .close::after {content: ''; position: absolute; right: 45%; top: 0; width: 1px; height: 100%; background: #5a5a5a; transform: rotate(-45deg);}
     header h2 {width: 132px; height: 50px; background: url(img/layout.png) 0 -70px no-repeat; color: transparent; margin: 0 0 75px 0;}
     .dim {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 100;}
}

@media (max-width:700px){
     header h1 {left: 50%; transform: translateX(-50%) scale(0.6); top: 15px;}
     header > ul li {display: none;}
     header .left {padding: 33px 0 0 14px;}
     header > ul li.join a {width: 17px; height: 16px; background: url(img/layout_m.png) -63px -35px / 300px no-repeat; border: none; color: transparent;}
     header .all {transform: scale(0.5);}
     header ul {padding: 33px 17px 0 0;}
}





.header_movie > div {position: relative; width:2048px; margin: 0 auto;}
.header_movie .play {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); text-align: center; z-index: 98 ;}
.header_movie .play i {font-size: 50px; color: #fff; border: 1.5px solid #fff; background: rgba(0,0,0,0.5); border-radius: 50%; padding: 5px 5px 5px 13px; transition: all 0.5s;}
.header_movie .play i:hover ::after {opacity:1;}
.header_movie .play p a {color: #fff; transition: all 0.5s;}
/*.header_movie .play p a:hover {color: yellow;}*/
.header_movie .txt {position: absolute; left: 50%; transform: translateX(-50%); bottom: 80px; text-align: center; z-index: 98;}
.header_movie .txt h2 {font-size: 60px; color: #fff; font-weight: 500; margin-bottom: 100px; transition: all 0.5s;}
.header_movie .txt h2:hover {color: #ee82ee;}
.header_movie .txt ul {display: flex;}
.header_movie .txt li {margin-right: 300px;}
.header_movie .txt li:first-child {position: relative;}
.header_movie .txt li:first-child::before {content: ''; position: absolute; left: -171px; top: 50%; transform: translateY(-50%); width: 150px; height: 1px; background: rgba(255,255,255,0.5);}
.header_movie .txt li:nth-child(2) {position: relative;}
.header_movie .txt li:nth-child(2)::before {content: ''; position: absolute; left: -280px; top: 50%; transform: translateY(-50%); width: 300px; height: 1px; background: rgba(255,255,255,0.5);}
.header_movie .txt li:nth-child(2)::after {content: ''; position: absolute; right: -305px; top: 50%; transform: translateY(-50%); width: 330px; height: 1px; background: rgba(255,255,255,0.5);}
.header_movie .txt li:last-child {position: relative;}
.header_movie .txt li:last-child::before {content: ''; position: absolute; right: -171px; top: 50%; transform: translateY(-50%); width: 175px; height: 1px; background: rgba(255,255,255,0.5);}
.header_movie .txt li:last-child {margin-right: 0;}
.header_movie .txt li a {display: block; width: 320px; font-size: 34px; color: #fff; text-transform: uppercase; transition: all 0.5s;}
.header_movie .txt li a:hover {color: aqua;}
.header_movie .txt li a:after {opacity: 0; content: ''; position: absolute; left: 50%; bottom: -30px; border-bottom: 10px solid aqua; border-left: 10px solid transparent; border-right: 10px solid transparent; transform: translateX(-100%); transition: all 0.5s; z-index: 30;}
.header_movie .txt li a:hover::after {opacity: 1;}
.header_movie > div video {width: 100%; height: 937px; object-fit: cover;}

.movie_2 {position: relative; margin-left: 64px; margin-top: -15px; width:2048px; height: 937px; }
.movie_2 > div {position: relative; width:2048px; margin: 0 auto;}
.movie_2 > div .txt {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); text-align: center; z-index: 30;}
.movie_2 > div .txt strong {display: block; margin-bottom: 40px; font-size: 50px; color: #01162B; font-weight: 500; transition: all 0.5s;}
/*.movie_2 > div .txt strong:hover {color: yellow;}*/
.movie_2 > div .txt p {font-size: 17px; color: #01162B; transition: all 0.5s;}
.movie_2 > div .txt p strong {font-size: 25px; color: #01162B; transition: all 0.5s;}
/*.movie_2 > div .txt p:hover {color: yellow;}*/
/*.movie_2 > div .txt p:nth-child(3) {margin-bottom: 50px;}*/
.movie_2 > div video {width: 100%; height: 937px; object-fit: cover;}

.main_1 {margin-top: -4px;}
.main_1 > div {position: relative; width:2048px; margin: 0 auto; height: 300px; background-color: #F6F2ED;}
/*.main_1 > div::before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(22, 43, 111, 3.0);}*/
.main_1 > div .txt { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); text-align: center;}
.main_1 > div .txt strong {font-weight: bold; display: block; font-size: 24px; color: #01162B; margin-bottom: 35px; transition: all 0.5s;}
/*.main_1 > div .txt strong:hover {}*/
.main_1 > div .txt p {font-size: 17px; color: #01162B; transition: all 0.5s;}
/*.main_1 > div .txt p:hover {color: yellow;}*/
.main_1 > div .txt button a {font-size: 20px; color:white;}



.main_2 {width:2048px; height: 937px; margin: 0 auto; background: #ece5dd;}
.main_2 > div {width: 1825px; height: 937px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
.main_2 > div .left .img {width: 700px; height: 700px; overflow: hidden; transition: all 0.5s;}
.main_2 > div .left .img:hover {transform: translateY(30px);}
.main_2 > div .left .img img {transition: all 0.5s;}
.main_2 > div .left .img img:hover {transform: scale(1.2);}
.main_2 > div .right {position: relative; width: 1090px; height: 700px; background: #fff; padding: 40px 45px; box-sizing: border-box;}
.main_2 > div .right .txt p {font-size: 18px; color: #333; transition: all 0.5s;}
.main_2 > div .right .txt p strong {font-size: 30px; color: #333; transition: all 0.5s;}
.main_2 > div .right .txt p:hover {color: orangered;}
.main_2 > div .right .txt p:nth-child(5) {margin-bottom: 60px;}
.main_2 > div .right .txt .bold {margin-top: 60px;}
.main_2 > div .right .txt strong {display: block; font-size: 60px; color: #666; font-weight: 600; transition: all 0.5s; line-height: 30px;}
/*.main_2 > div .right .txt strong {display: block; font-size: 30px; color: #666; font-weight: 600; transition: all 0.5s; line-height: 30px;}*/
/*.main_2 > div .right .txt strong:hover {color: crimson;}*/
.main_2 > div .right .txt .logo {position: absolute; right: 45px; bottom: 40px;}

.main_3 {margin-top: -4px;}
.main_3 > div {position: relative; width:2048px; height: 937px; margin: 0 auto; background: url(img/main2_img.jpg);}
.main_3 > div::before {content: ''; position: absolute; width:2048px; height: 937px; margin: 0 auto; background: rgba(0,0,0,0.6);}
.main_3 > div .txt {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); text-align: center;}
.main_3 > div .txt strong {display: block; font-size: 40px; color: #fff; font-weight: 500; transition: all 0.5s;}
/*.main_3 > div .txt strong:hover {color: yellow;}*/
.main_3 > div .txt strong:first-child {display: block; margin-bottom: 10px; font-size: 30px;}
.main_3 > div .txt div {margin-bottom: 25px;}
.main_3 > div .txt p {font-size: 17px; color: #fff; transition: all 0.5s;margin-bottom: 6px;}
/*.main_3 > div .txt p:hover {color: yellow;}*/
.main_3 > div .txt p strong {font-size: 20px; color: #fff; transition: all 0.5s;}
/*.main_3 > div .txt p:nth-child(3) {margin-bottom: 50px;}
.main_3 > div .txt p:nth-child(5) {margin-bottom: 50px;}*/

.movie_2 > div .txt strong {display: block; margin-bottom: 40px; font-size: 40px; color: #fff; font-weight: 500; transition: all 0.5s;}
/*.movie_2 > div .txt strong:hover {color: yellow;}*/



.main_4 {width:2048px; height: 937px; margin: 0 auto; background: #f6f2ed;}
.main_4 > p {text-align: center; margin-bottom: 15px; font-size: 15px; color: rgb(38,72,191); line-height: 16px; transition: all 0.5s; }
.main_4 > p strong {text-align: center; margin-top: 20px; font-size: 30px; color: #000000; line-height: 16px; transition: all 0.5s; }
.main_4 > div {width:2048px; height: 937px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.main_4 > div .img {width:2048px; height: 500px; overflow: hidden; transition: all 0.5s;}

/*.main_4 > div .img:hover {transform: translateY(-37px);}*/
/*.main_4 > div .img img:hover {transform: scale(1.2);}*/
.main_4 > div .txt {text-align: center; margin-top: 30px;}
.main_4 > div .txt strong {text-shadow:-1px -1px 0px #666, 3px 3px 0px #666, 6px 6px 0px #666;
 display: block; font-size: 35px; color: #000; font-weight: 600; line-height: 30px; transition: all 0.5s;}
/*.main_4 > div .txt strong:hover {color: crimson;}*/
.main_4 > div .txt strong:hover {transform: translateY(-10px);}
/*.main_4 > div .txt strong:after {opacity: 0; content: ''; position: absolute; left: 50%; bottom: -30px; border-bottom: 10px solid aqua; border-left: 10px solid transparent; border-right: 10px solid transparent; transform: translateX(-100%); transition: all 0.5s; z-index: 30;}*/
.main_4 > div .txt div {margin-bottom: 20px;}
.main_4 > div .txt p {margin-bottom: 10px; font-size: 12px; color: #333; line-height: 14px; transition: all 0.5s;}
.main_4 > div .txt p:hover {color: crimson;}



.main_5 {position: relative; width:2048px; height: 850px; margin: 0 auto; background: url(img/main5_img.jpg) no-repeat;}
.main_5 > div {width:2048px; height: 850px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.main_5 > div::before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(81,64,34,0.5);}
.main_5 > div div {display: flex; justify-content: center; align-items: center; z-index: 30;}
.main_5 > div div .left .img {width: 700px; height: 700px; overflow: hidden; transition: all 0.5s;}
.main_5 > div div .left .img:hover {transform: translateY(30px);}
.main_5 > div div .left .img img {transition: all 0.5s;}
.main_5 > div div .left .img img:hover {transform: scale(1.2);}
.main_5 > div div .right {margin-left: 40px; width: 1080px; height: 700px; background: rgba(255,255,255,0.5); padding: 30px 40px; box-sizing: border-box;}
.main_5 > div div .right .txt {display: flex; flex-direction: column;}
.main_5 > div div .right .txt strong {display: block; margin-bottom: 20px; font-size: 30px; color: #444; transition: all 0.5s;}
.main_5 > div div .right .txt strong:hover {color: crimson;}
.main_5 > div div .right .txt p {font-size: 18px; color: #444; font-weight: 500; transition: all 0.5s;}
.main_5 > div div .right .txt p:hover {color: orangered;}




.main_6 {position: relative; width:2048px; height: 1903px; margin: 0 auto; background:rgb(247,238,208,1);}
.main_6 >div p {font-size: 20px; color:#162B6F; line-height: 40px; align-content:left; transition: all 0.5s; padding-left: 30px; }
.main_6 >div p strong {font-size: 25px; color: #111; line-height: 20px; }
.main_6 > div {width:2048px; height: 937px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.main_6 > div::before {content: ''; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,216,216,0.7);} /*민트*/
.main_6 > div .box {positon:absolute;line-height:200px; padding: 2em 0; width: 1703px; height: 700px; background: rgba(255,255,255,1); bottom: 0; }/*흰박스*/
.main_6 > div .box p {display: block; font-size: 15px; color: #162B6F; line-height: 30px; transition: all 0.5s;}
.main_6 > div .box p strong {display: block; font-size: 40px; color: #162B6F; line-height: 60px; transition: all 0.5s;}
/*.main_6 > div .box strong:hover {color: orange;}*/




footer {position: relative; width:2048px; height: 50px; margin: 0 auto; background-color: #000;}
footer > div {width:2048px; height: 50px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
footer > div::before {content: ''; position: absolute; left: 0; bottom: 0; width:2048px; border-top: 1px solid #ccc; padding: 45px 0; box-sizing: border-box;}
footer .top {position: relative;}
footer .top::before {content: ''; position: absolute; left: 50%; transform: translateX(-50%); top: -16px; width:2048.7px; margin: 0 auto; height: 90px; z-index: 30; background: #000;}
footer .top ul {text-align: center; width: 1200px; margin: 0 auto; display: flex;}
footer .top li {z-index: 50;}
footer .top li:first-child {margin-right: 590px;}
footer .top li:first-child p {color: #fff; font-weight: 600;}
footer .top li p {color: #fff; transition: all 0.5s;}
footer .top li p:hover {color: crimson;}
footer .bottom {width:2048px; margin: 0 auto; background: #ccc;}
footer .bottom ul {margin-top: 30px; width: 1825px; display: flex; justify-content: space-between; padding-bottom: 10px; box-sizing: border-box;}
footer .bottom ul li a {display: block; padding: 20px; font-weight: bold; color: #333; font-weight: 600; transition: all 0.5s;}
footer .bottom ul li a:hover {color: orangered;}
footer .bottom ul li i {margin-right: 30px;}
footer .movie .play {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); text-align: center; z-index: 98;}
footer .movie .play i {font-size: 50px; color: #fff; border: 1.5px solid #fff; background: rgba(0,0,0,0.5); border-radius: 50%; padding: 5px 5px 5px 13px; transition: all 0.5s;}
footer .movie .play i:hover {color: yellow; border-color: yellow;}
footer .movie .play p a {color: #fff; transition: all 0.5s;}
footer .movie .play p a:hover {color: yellow;}
footer .movie video {width: 100%; height: 937px; object-fit: cover;}